.login-form {
  width: 300px;
}

.session-authentication .auth-form-body {
  border-top: 1px solid var(--color-border-muted);
  border-radius: 6px;
}

.auth-form-body {
  padding: 20px;
  font-size: 14px;
  background-color: var(--color-canvas-subtle);
  border: 1px solid var(--color-border-muted);
  border-top: 0;
  border-radius: 0 0 6px 6px;
}